$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import "./_mixins";

/* Put your CSS here */
html, body {
  margin: 20px;
}

ul {
    list-style-type: none;
}

.article-listing-element {
    margin: 10px 0;
      h2 {
        font-size: 14px;
        line-height: 12px;
      }
      p {
        font-size: 12px;
        overflow: hidden;
      }
      h4 a {
        display: inline;
      }
      .middle {
        margin-top: 15px;
      }
      border: 1px solid #f2f2f2;
      @include border-radius(5px);
      @include linear-top-gradient(#fff, #eee);
      @include box-shadow();
      .span2 {
        margin-top: 15px;
      }
}

input.ng-dirty.ng-valid {
  border: 1px solid green;
}
input.ng-dirty.ng-invalid {
  border: 1px solid red;
}